@media(max-width: 1400px) {
    .title {
        height: 120px;
    }
    .logo {
        height: 75%;
    }
}
@media(max-width: 1024px) {
    .title {
        height: 100px;
    }
    .logo {
        height: 50%;
    }
}
@media(max-width: 860px) {
    .title {
        height: 80px;
    }
    .logo {
        height: 40%;
        padding: 20px 0;
    }
    header {
        flex-direction: column;
    }
    .infobox_small {
        padding: 16px 0;
        width: 180px;
    }
    #infobox_big {
        width: 60%;
    }
    #types_big {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1px;
    }
    h2 {
        font-size: 30px;
    }
}
@media(max-width: 670px) {
    #searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #input {
        width: 75%;
    }
    #evolutions {
        gap: 12px;
    }
    #evolutions img {
        height: 65px;
        width: 65px;
    }
    #infobox_big .evenly {
        gap: 5px;
        padding: 5px;
    }
    #img_big {
        height: 110px;
        width: 110px;
    }
    .infobox_big .button {
        width: 35px;
    }
    span {
        font-size: 20px;
    }
    #infobox_big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: fit-content;
        padding: 18px;
        top: 16px;
    }
    #infobox_top {
        width: 100%;
        gap: 6px;
    }
    #ID_big {
        display: none;
    }
    h1 {
        margin: 0;
    }
    #toggle_img {
        height: 40px;
        width: 40px;
    }
    .button {
        font-size: 20px;
    }
    .type {
        padding: 1px;
        font-size: 19px;
        margin: 1px;
    }
    #loading {
        display: none;
    }
}